html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "POPPINS";
  src: url("../public/fonts/Poppins-Medium.ttf") format("woff2");
  font-style: normal;
  font-display: swap;
  font-size: xx-small;
  font-weight: lighter;
}

body {
  width: 100%;
  height: 100%;
  font-family: "POPPINS", sans-serif;
}

.main{
    transition: all 1s ease-in;
}

.text-white{
    color: white;
}

.text-black{
    color: black;
}
.text-blue{
    color: #007DFF;
}